.fabric
1.21.1/*
1.21.1/minecraft/*
!1.21.1/minecraft/
!1.21.1/minecraft/mods/
1.21.1/minecraft/mods/.connector/
1.21.1_2
config
data
downloads
journeymap
logs
saves
screenshots
command_history.txt
options.txt
realms_persistence.json
servers.dat
servers.dat_old
instgroups.json
